<center><h2>Employee Slip</h2></center>
<div>
    <table border="0" width="100%">
      <tbody><tr><td>Main Salary</td><td id="main_salary">{{main_salary}}</td></tr>
          <tr><td>Deductions</td><td id="deductions">{{total_deductions}}</td></tr>
          <tr><td>Earnings</td><td id="earnings">{{total_earnings}}</td></tr>
          <tr><td>Total Salary</td><td id="total_salary">{{total_salary}}</td></tr>
          <tr><td>Net Salary</td><td id="net_salary">{{net_salary}}</td></tr>
      </tbody>
    </table>
</div>
<hr>
<h4>Deductions</h4>
<table>
      <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Value</th>
            <th scope="col">Description</th>
            <th scope="col">Date</th>
        </tr>
      </thead>
      <tbody>
           {% for value in earnings %}

           <tr>
            {% for k,v in value.items%}
               <td><center>{{v}}</center></td>
            {% endfor %}
            </tr>

    {% endfor %}
      </tbody>
</table>
<h4>Earnings</h4>
<table>
  <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Value</th>
        <th scope="col">Description</th>
        <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
    <tbody>
           {% for value in deductions %}
           <tr>
            {% for k,v in value.items%}
               <td><center>{{v}}</center></td>
            {% endfor %}
            </tr>
    {% endfor %}
  </tbody>
</table>
